@media screen and (max-width: 576px) {
  .slick-navbar-under {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    margin-top: calc(var(--navbar-height) + 14px);
  }
  .header-search-input-icon,
  .header-search-input {
    display: none;
  }
  .header-menu-logo {
    margin-left: 0;
    width: 100%;
  }
  .header {
    justify-content: flex-end;
  }
  .header-logo {
    margin-left: 10px;
  }
  .btn-search-icon {
    margin: 0 auto;
    padding: 10px;
  }
  .header-user-option,
  .header-user-camera,
  .header-menu-icon {
    display: none;
  }
  .btn-search-icon {
    background-color: transparent;
    border: none;
    margin-left: auto;
  }
  .header-search-record {
    display: none;
  }
  .header-search-input {
    width: 100%;
    /* display: none; */
  }
  .youtube-box {
    margin-bottom: 16px;
  }
  .content__navbar.d-flex.flex-column.p-0.position-fixed {
    display: none !important;
  }
  .col-xl-4.col-lg-12.col-md-12.col-sm-12.col-12,
  .col-xl-8.col-lg-12.col-md-12.col-sm-12.col-12 {
    padding: 0;
  }
  .video-box-view {
    flex-direction: column;
  }
  .video-view {
    white-space: nowrap;
    font-size: 13px;
  }
  .video-box-common {
    white-space: nowrap;
  }
  .video-like-dislike::before {
    display: none;
  }
  .video-share,
  .video-save,
  .video-dislike-box,
  .video-like-box {
    flex-direction: column;
  }
  .video-img {
    width: 40px;
    height: 40px;
  }
  .video-info-mid-text {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  .guest-img,
  .video-input-img {
    width: 40px;
  }
  .video-nav {
    margin-top: 40px;
  }
  .bnt-sub {
    white-space: nowrap;
    padding: 6px 16px;
  }
  .noti-box {
    right: 0;
  }
  .modal-slider {
    display: none;
  }
  .modal-share-link-click {
    white-space: nowrap;
  }
  .video-view {
    margin: 10px 0;
  }
  .video-iframe {
    height: 260px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .slick-navbar-under {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .content {
    margin-top: calc(var(--navbar-height) + 14px);
  }
  .header-search-input {
    width: 100%;
    /* display: none; */
  }
  .youtube-box-view {
    white-space: normal;
    flex-wrap: wrap;
  }
  .youtube-view {
    white-space: nowrap;
  }
  .youtube-box {
    margin-top: 10px;
  }
  .content__navbar.d-flex.flex-column.p-0.position-fixed {
    display: none !important;
  }
  .video-view-date {
    display: none;
  }
  .video-iframe {
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .header-search-input {
    width: 100%;
  }
  .content__navbar.d-flex.flex-column.p-0.position-fixed {
    display: none !important;
  }
  .slick-navbar-under {
    width: 99%;
  }
  .video-view-date {
    display: none;
  }
  .video-comment {
    /* display: none; */
    margin-bottom: 40px;
  }
  .video-img {
    width: 40px;
    height: 40px;
  }
  .guest-img,
  .video-input-img {
    width: 36px;
  }
  .more-guest-img {
    width: 30px;
  }
  .video-nav {
    margin-top: 20px;
  }
  .video-iframe {
    height: 400px;
  }
  .last-child:last-child {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .header-search-input {
    width: 500px;
  }
  .hidden-navbar {
    height: 100vh;
  }
  /* .youtube-box:last-child {
    margin-top: 20px;
  } */
  .video-nav-img {
    width: 160px;
    height: 100%;
  }
  .video-nav-author {
    margin: 0;
  }
  .video-view {
    white-space: nowrap;
  }
  .video-view-date {
    display: none;
  }
  .video-nav-view {
    white-space: pre-line;
  }
  .video-iframe {
    height: 460px;
  }

  .video-img {
    width: 40px;
    height: 40px;
  }
  .guest-img,
  .video-input-img {
    width: 36px;
  }
  .more-guest-img {
    width: 30px;
  }
}
